*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', 'sans-serif';
}
 
.line {
        position: absolute; 
        border-radius: 1em; 
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.line-wide {
        transform: scaleX(1);
        animation-name: change-width;
}

.line-high {
        transform: scaleY(1);
        animation-name: change-height;
}

@keyframes change-width {
        0% {
            opacity: 0;
            transform: scaleX(0); 
        }

        5% {
            opacity: 0.1;
            transform: scaleX(0.1); 
        }

        10% {
            opacity: 0.2;
            transform: scaleX(0.2); 
        }

        15% {
            opacity: 0.3;
            transform: scaleX(0.3); 
        }

        20% {
            opacity: 0.4;
            transform: scaleX(0.4); 
        }

        25% {
            opacity: 0.5;
            transform: scaleX(0.5);
        }

        30% {
            opacity: 0.6;
            transform: scaleX(0.6); 
        }

        35% {
            opacity: 0.7;
            transform: scaleX(0.7); 
        }

        40% {
            opacity: 0.8;
            transform: scaleX(0.8); 
        }

        45% {
            opacity: 0.9;
            transform: scaleX(0.9); 
        }

        50% {
            opacity: 1;
            transform: scaleX(1);
        }

        55% {
            opacity: 0.9;
            transform: scaleX(0.9); 
        }

        60% {
            opacity: 0.8;
            transform: scaleX(0.8); 
        }

        65% {
            opacity: 0.7;
            transform: scaleX(0.7); 
        }

        70% {
            opacity: 0.6;
            transform: scaleX(0.6); 
        }

        75% {
            opacity: 0.5;
            transform: scaleX(0.5);
        }

        
        80% {
            opacity: 0.4;
            transform: scaleX(0.4); 
        }

        85% {
            opacity: 0.3;
            transform: scaleX(0.3); 
        }

        90% {
            opacity: 0.2;
            transform: scaleX(0.2); 
        }

        95% {
            opacity: 0.1;
            transform: scaleX(0.1); 
        }

        100% {
            opacity: 0;
            transform: scaleX(0);
            visibility: collapse;
        }
} 

@keyframes change-height {
        0% {
            opacity: 0;
            transform: scaleY(0); 
        }

        5% {
            opacity: 0.1;
            transform: scaleY(0.1); 
        }

        10% {
            opacity: 0.2;
            transform: scaleY(0.2); 
        }

        15% {
            opacity: 0.3;
            transform: scaleY(0.3); 
        }

        20% {
            opacity: 0.4;
            transform: scaleY(0.4); 
        }

        25% {
            opacity: 0.5;
            transform: scaleY(0.5);
        }

        30% {
            opacity: 0.6;
            transform: scaleY(0.6); 
        }

        35% {
            opacity: 0.7;
            transform: scaleY(0.7); 
        }

        40% {
            opacity: 0.8;
            transform: scaleY(0.8); 
        }

        45% {
            opacity: 0.9;
            transform: scaleY(0.9); 
        }

        50% {
            opacity: 1;
            transform: scaleY(1);
        }

        55% {
            opacity: 0.9;
            transform: scaleY(0.9); 
        }

        60% {
            opacity: 0.8;
            transform: scaleY(0.8); 
        }

        65% {
            opacity: 0.7;
            transform: scaleY(0.7); 
        }

        70% {
            opacity: 0.6;
            transform: scaleY(0.6); 
        }

        75% {
            opacity: 0.5;
            transform: scaleY(0.5);
        }

        
        80% {
            opacity: 0.4;
            transform: scaleY(0.4); 
        }

        85% {
            opacity: 0.3;
            transform: scaleY(0.3); 
        }

        90% {
            opacity: 0.2;
            transform: scaleY(0.2); 
        }

        95% {
            opacity: 0.1;
            transform: scaleY(0.1); 
        }

        100% {
            opacity: 0;
            transform: scaleY(0);
            visibility: collapse;
        }
}

body {
    background-color: #191817;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    width: 100%;

    @media only screen and (max-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media only screen and (max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff9e7;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: block;
    position: fixed ;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #191817;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: #313131;

    color: #fff9e7;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #313131;
}

@media only screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

section {
    h2 {
        text-align: center;
        margin-bottom: 32px;
        font-size: 36px;
        color: #fff9e7;
        font-weight: 450;
    }
}

.button {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: inline-block;
    color: #fff9e7;
    background-color: #707070;
    text-decoration: none;

    font-size: 20px;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 400;

    transition-property: background-color color;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    cursor: pointer;

    @media only screen and (max-width: 767px) {
        font-size: 18px;
    }
}

.button:hover {
    background-color: #fff9e7;
    color: #191817;
}

img {
    max-width: 100%;
}

header {
    color: #fff9e7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: inherit;
            font-size: 32px;
            font-weight: 400;

            span {
                font-weight: 300;
            }
        }

        nav {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(4, auto);

            @media only screen and (max-width: 767px) {
                display: none;
            }

            a {
                color: inherit;
                font-size: 20px;
                text-decoration: none;
                margin-left: 10px;
                font-weight: 300;
            }
        }
    }

    &.is-scrolling {
        background-color: #191817;
        .container {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

main {
    section.banner {
        color: #fff9e7;
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;

        background-position: center;
        background-size: cover;

        &::after {
            content: '';
            display: block;
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;

            background-color: #fff9e7;
            opacity: 0.1;
        }

        .container {
            position: relative;
            z-index: 1;

            h1 {
                font-size: 72px;
                font-weight: 450;

                span {
                    color: #191817;
                }
            
                @media only screen and (max-width: 767px) {
                    font-size: 32px;
                }
            }

            h3 {
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 32px;

                @media only screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
    }

    .about {

        .container {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        .about-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px;

            .summary {               
                h3 {
                    color: #fff9e7;
                    width: 100%;
                    padding-bottom: 20px;

                    font-weight: 500;
                    font-size: 26px;
                    text-align: center;
                }

                .about-me {
                    color: #fff9e7;
                    line-height: 26px;
                    font-weight: 250;

                    a {
                        text-decoration: none;
                        color: #fff9e7;

                        transition-property: background-color color;
                        transition-duration: .4s;
                        transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
                        cursor: pointer;
                    }

                    a:hover {
                        color: #5a5753;
                    }
                }
            }

            .skills {
                display: flex;
                position: relative;
                align-items: flex-start;
                width: fit-content;
                height: fit-content;
                flex-wrap: wrap;

                h3 {
                    color: #fff9e7;
                    width: 100%;
                    padding-bottom: 20px;

                    font-weight: 500;
                    font-size: 26px;
                    text-align: center;
                }

                .skill {
                    height: fit-content;
                    width: fit-content;
                    margin-bottom: .8rem;
                    margin-right: .8rem;

                    font-size: 1rem;
                    background-color: #fff9e7;
                    border-radius: 5px;
                    font-weight: 500;
                    color: #33312e;

                    transition-property: background-color color;
                    transition-duration: .4s;
                    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
                    cursor: pointer;

                    .type {
                        height: fit-content;
                        width: fit-content;
                        padding: 1rem 1.5rem;

                        font-size: 1rem;
                        border-radius: 5px;
                        font-weight: 600;
                        list-style: none;

                        transition-property: background-color color;
                        transition-duration: .4s;
                        transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
                        }

                    .level {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }

                
                .skill:hover {
                    background-color: #33312e;
                    color: rgba(255, 249, 231, 80%);
                }
            }
        }
    }

    .projects {
        padding-top: 64px;
        padding-bottom: 64px;

        .projects-grid {
            display: grid;
            grid-template-columns:  repeat(3, 1fr);
            gap: 16px;
            margin-bottom: 32px;

            @media only screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (max-width: 767px) {
                grid-template-columns: 1fr;
            }

            .project {
                background-image: url(../images/page\ 1\ bg.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;

                border-radius: 16px;
                overflow: hidden;

                @media only screen and (max-width: 768px) {
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &:nth-child(1) {
                    background-image: url(../images/Portfolio\ Website\ v2.JPG);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                &:nth-child(6) {
                    background-image: url(../images/Portfolio\ Website\ v1.JPG);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;

                    
                    @media only screen and (max-width: 768px) {
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

                .content {
                    opacity: 0;
                    padding: 16px;
                    background-color: rgba(64, 39, 68, 0.8);
                    color: #fff9e7;
                    background-size: contain;
                    background-repeat: no-repeat;

                    h3 {
                        font-size: 22px;
                        font-weight: 500;
                        margin-bottom: 16px;                        
                    }

                    p {
                        font-size: 16px;
                        font-weight: 350;
                        margin-bottom: 16px;

                        .bold {
                            font-weight: 500;
                        }
                    }
                }

                &:hover {
                    .content {
                        opacity: 1;
                        transition: 0.4s;
                    }
                }
            }
        }

        .center {
            text-align: center;
        }
    }

    .contact {
        background-color: #313131;

        .container {
            padding-top: 64px;
            padding-bottom: 64px;

            h2 {
                color: #fff9e7;
            }

            form {
                display: block;
                margin: 0 auto;
                max-width: 680px;

                .form-grid {
                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(2, 1fr);
                    margin-bottom: 16px;

                    @media only screen and (max-width: 767px) {
                        grid-template-columns: 1fr;
                    }

                    .form-element, .form-area {
                        appearance: none;
                        border: none;
                        outline: none;
                        background: none;

                        display: block;
                        width: 100%;
                        background-color: #fff9e7;
                        border-radius: 8px;

                        padding: 16px;
                        font-size: 16px;
                        color: #313131;

                        &::placeholder {
                            color: #aaa;
                        }
                    }

                    .form-area {
                        grid-column: span 2;
                    }
                }

                .right-align {
                    text-align: right;
                }
            }
        }
    }

    @import url(./success.scss);

    @media only screen and (max-width: 767px) {
        .hide-mob {
            display: none;
        }
    }
}